<!DOCTYPE html>
<html>

<head>
  <% include ../../partial/head %>
    <title>Blank Page | Bootstrap Based Admin Template - Material Design</title>

</head>

<body class="theme-red">
  <!-- Page Loader -->
  <% include ../../partial/header %>
    <section>
      <!-- Left Sidebar -->
      <aside id="leftsidebar" class="sidebar">
        <% include ../../partial/leftsidebar %>
          <!-- #Menu -->
          <!-- Footer -->
          <% include ../../partial/footer %>
            <!-- #Footer -->
      </aside>
      <!-- #END# Left Sidebar -->
      <!-- Right Sidebar -->
      <% include ../../partial/rightsidebar %>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="block-header">
          <div class="body">

              <ol class="breadcrumb">
                  <li>
                      <a href="/admin">
                          <i class="material-icons">home</i> Home
                      </a>
                  </li>
                  <li>
                      <a href="/admin/users/list">
                          <i class="material-icons">person</i> Users
                      </a>
                  </li>
                  <li class="active">
                      <i class="material-icons">list</i> USER MODIFY
                  </li>
              </ol>
          </div>

  <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="header">
                  <h2>
                      ADD USER
                  </h2>
                  <ul class="header-dropdown m-r--5">
                      <li class="dropdown">
                          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              <i class="material-icons">more_vert</i>
                          </a>
                          <ul class="dropdown-menu pull-right">
                              <li><a href="/admin/users/list">User List</a></li>
                              <li><a href="javascript:frm.reset();">RESET</a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
              <div class="body">
                  <form action="/admin/users/modify" name="frm" method="post" id="frm" class="form-horizontal" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="<%= user._id %>">
                      <div class="row clearfix">
                          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="name">User Name</label>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-group">
                                  <div class="form-line">
                                      <input type="text" id="name" name="name" class="form-control" placeholder="Your Name" value="<%= user.name %>">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row clearfix">
                          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="email">Email Address</label>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-group">
                                  <div class="form-line">
                                      <%= user.email %>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row clearfix">
                          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="phone">Phone Number</label>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-group">
                                  <div class="form-line">
                                      <input type="text" id="phone" name="phone" class="form-control" placeholder="Enter your phone number" value="<%= user.phone %>">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row clearfix">
                          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="photo">File upload</label>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                              <div class="form-line">
                                <img src="<%= user.photo %>" alt="User photo" width="30%" onerror="this.src='/images/noimage.png'">
                              </div>
                                <div class="form-line">
                                    <input type="file" id="photo" name="photo" class="form-control" accept="image/x-png,image/gif,image/jpeg"/>
                                </div>
                            </div>
                          </div>
                      </div>
                      <div class="row clearfix">
                          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="password">Password</label>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-group">
                                  <div class="form-line">
                                      <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password">
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="row clearfix">
                          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="role">User Role</label>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-group">
                                <select class="form-control show-tick" name="role" id="role">
                                      <option value="">Select Role</option>
                                      <option value="ADMIN">Admin</option>
                                      <option value="USER">User</option>
                                      <option value="STAFF">Staff</option>
                                  </select>
                              </div>
                          </div>
                      </div>

                      <div class="row clearfix">
                          <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                              <button type="submit" class="btn btn-primary m-t-15 waves-effect" value="save">SAVE</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>
  </section>
    <% include ../../partial/scripts %>
    <script src="/js/demo.js"></script>
    <!-- Custom Js -->
    <script src="/js/admin.js"></script>
    <script type="text/javascript">
    $(function () {
      $.validator.addMethod("pwcheck", function(value) {
        if(value == '') return true;
              return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
                  && /[a-z]/.test(value) // has a lowercase letter
                  && /[A-Z]/.test(value) // has a uppercase letter
                  && /\d/.test(value) // has a digit
           });
           $.validator.addMethod("pwcheck2", function (value) {
             if(value == '') return true;
             if( value.indexOf($('#email').val()) >= 0 ){
               return false;
             }
             return true;
           });
        $('#frm').validate({
            rules: {
                'name': {
                    required: true
                },
                'password':{
                  pwcheck: true,
                  pwcheck2: true
                },
                'role': {
                    required: true
                },
            },
            messages: {
              password: {
                pwcheck:"Please input at least 1 Upper,  1 lower, 1 digit...",
                pwcheck2: "Do not contain your Email..."
              }
            },
            highlight: function (input) {
                $(input).parents('.form-line').addClass('error');
            },
            unhighlight: function (input) {
                $(input).parents('.form-line').removeClass('error');
            },
            errorPlacement: function (error, element) {
                $(element).parents('.form-group').append(error);
            }
        });

        $('#role').selectpicker('val','<%=user.role%>');
      });
    </script>
</body>

</html>
