<!DOCTYPE html>
<html>

<head>
  <% include ../../partial/head %>
    <title>Blank Page | Bootstrap Based Admin Template - Material Design</title>

</head>

<body class="theme-red">
  <!-- Page Loader -->
  <% include ../../partial/header %>
    <section>
      <!-- Left Sidebar -->
      <aside id="leftsidebar" class="sidebar">
        <% include ../../partial/leftsidebar %>
          <!-- #Menu -->
          <!-- Footer -->
          <% include ../../partial/footer %>
            <!-- #Footer -->
      </aside>
      <!-- #END# Left Sidebar -->
      <!-- Right Sidebar -->
      <% include ../../partial/rightsidebar %>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="block-header">
          <div class="body">

              <ol class="breadcrumb">
                  <li>
                      <a href="/admin">
                          <i class="material-icons">home</i> Home
                      </a>
                  </li>
                  <li>
                      <a href="/admin/users/list">
                          <i class="material-icons">person</i> Users
                      </a>
                  </li>
                  <li class="active">
                      <i class="material-icons">person_add</i> VIEW USER
                  </li>
              </ol>
          </div>

  <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="header">
                  <h2>
                      View USER
                  </h2>
                  <ul class="header-dropdown m-r--5">
                      <li class="dropdown">
                          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              <i class="material-icons">more_vert</i>
                          </a>
                          <ul class="dropdown-menu pull-right">
                              <li><a href="/admin/users/list">User List</a></li>
                              <li><a href="/admin/users/add">Add User</a></li>
                              <li><a href="javascript:delete();">Delete User</a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
              <div class="body">
                  <form action="/admin/users/add" method="post" id="frm" class="form-horizontal">
                      <div class="row clearfix">
                          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="name">User Name</label>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-group">
                                  <div class="form-line">
                                      <%= user.name %>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row clearfix">
                          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="email">Email Address</label>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-group">
                                  <div class="form-line">
                                      <%= user.email %>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row clearfix">
                          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="phone">Phone Number</label>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-group">
                                  <div class="form-line">
                                      <%= user.phone %>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row clearfix">
                          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="phone">Photo</label>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-group">
                                  <div class="form-line">
                                    <img src="<%= user.photo %>" width="30%" alt="User photo" onerror="this.src='/images/noimage.png'">
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="row clearfix">
                          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="role">User Role</label>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-group">
                              <%= user.role %>
                              </div>
                          </div>
                      </div>
                      <div class="row clearfix">
                          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="role">Inserted</label>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-group">
                              <%= user.inserted_date %> By <%= user.insertedBy.name %>
                              </div>
                          </div>
                      </div>
                      <div class="row clearfix">
                          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="role">Updated</label>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-group">
                              <%= user.updated_date %> By <%= user.updatedBy.name %>
                              </div>
                          </div>
                      </div>
                      <div class="row clearfix">
                          <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                              <button type="button" class="btn btn-primary m-t-15 waves-effect" id="btnModify" >MODIFY</button>
                              <button type="button" class="btn btn-warning m-t-15 waves-effect" id="btnDelete" value="save">DELETE</button>
                            </div>

                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>
  </section>
    <% include ../../partial/scripts %>
    <script src="/js/demo.js"></script>
    <!-- Custom Js -->
    <script src="/js/admin.js"></script>
    <script type="text/javascript">
    $(function () {
      $.validator.addMethod("pwcheck", function(value) {
              return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
                  && /[a-z]/.test(value) // has a lowercase letter
                  && /[A-Z]/.test(value) // has a uppercase letter
                  && /\d/.test(value) // has a digit
           });
           $.validator.addMethod("pwcheck2", function (value) {
             if( value.indexOf($('#email').val()) >= 0 ){
               return false;
             }
             return true;
           });
        $('#frm').validate({
            rules: {
                'name': {
                    required: true
                },
                'email': {
                    required: true
                },
                'password':{
                  pwcheck: true,
                  pwcheck2: true
                },
                'role': {
                    required: true
                },
            },
            messages: {
              password: {
                pwcheck:"Please input at least 1 Upper,  1 lower, 1 digit...",
                pwcheck2: "Do not contain your Email..."
              }
            },
            highlight: function (input) {
                $(input).parents('.form-line').addClass('error');
            },
            unhighlight: function (input) {
                $(input).parents('.form-line').removeClass('error');
            },
            errorPlacement: function (error, element) {
                $(element).parents('.form-group').append(error);
            }
        });
        $('#email').blur(function () {
          var data = { email: $('#email').val()};
          if(data.email == '') return ;
          $.ajax({url: "/signup/duplicate", data:data, type: 'POST', success: function (result) {
            if (result.status == false) {
              alert(result.msg);
              $('#email').val('');
              $('#email').focus();
            }
          }});
        });
      });
      $('#btnModify').click(function () {
        location.href='/admin/users/modify/<%= user._id %>'
      });
      $('#btnDelete').click(function () {
        if(confirm('Are you sure want to delete?'))  location.href = '/admin/users/delete/'+'<%= user._id %>'
      });

    </script>
</body>

</html>
